/*{
    max-width: 100% !important;
    box-sizing: border-box !important;
    height: auto !important;
}*/



.buynowbutton{
    background-color: crimson;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}